div#header{

width: 100%;
height: 50px;
background-color: #2c3e50;
margin: 0 auto;


}

#part1{
    background-image: url('fitness.jpg');
	background-size: cover;
	height: 700px;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);

}


#part2{
    padding-top: 50px;
    margin-top: 50px;
    background-color: #2c3e50;
	background-size: cover;
	height: 800px;

}

#hh1{
    border: 5px;
    color: #ffffff;



}

#hh2{
    border: 5px;
    color: #ffffff;

}
.list{
    float: left

}
/* Here i have positioned the logo */

.logo{

float: left;
margin-top: 6px;
margin-left: 15px;


}

/*em is extra margine, I am styling the logo*/

.logo a{

font-size: 1.6em;
color: #fff;

}

/*Here we are styling the <span>, look up font weight*/

.logo a span{

font-weight:300;

}



.top{
    padding-top:120px;


}
