div#header{

width: 100%;
height: 50px;
background-color: #ffffff;
margin: 0 auto;


}

#part1{
    background-image: url('fitness.jpg');
	background-size: cover;
	height: 700px;
    filter: brightness(30%);
    -webkit-filter: brightness(40%);
    /*z-index: -100;*/

}

#part1 h1{

    color: #fff;
    text-align: center;


}

#part1 h2{

    color: #fff;
    text-align: center;
    /*z-index: 1;*/

}




#part2{
    padding-top: 50px;
    margin-top: 50px;
    background-color: #ffffff;
	background-size: cover;
	height: 500px;

}

#part3{
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
    background-image: url('bottom.jpeg');
	background-size: cover;
	height: 700px;
    filter: brightness(30%);
    -webkit-filter: brightness(40%);
    /*z-index: -100;*/



}

.text {
    float: left;
    margin-left: 100px;
    text-align: center;
    padding-top: 150px;
}

/*#hh1,#hh2{
    border: 5px;
    color: #fff;
    z-index: 100;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);*/



}



#dash{
    float:right;
    /*margin-right: 50px;*/


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a {
    display: block;
    width: 100px;

}

li {
    display: inline;
    float:left;
}





/* Here i have positioned the logo */

.logo{

float: left;
margin-top: 6px;
margin-left: 15px;


}






/*em is extra margine, I am styling the logo*/

.logo a{

font-size: 1.6em;
color: #42647f;

}




/*Here we are styling the <span>, look up font weight*/

.logo a span{

font-weight:300;

}





.top{
    padding-top:120px;


}

#map {
	width: 100%;
	height: 400px;
    padding-top: 50px;
    padding-right: 50px;
}
